.headerContainer{
  display: flex;
  justify-content:space-between;
  /* border: 1px solid white; */
  background: linear-gradient(10deg, rgba(65,55,183,1) 0%, rgba(82,85,183) 35%, rgba(92,60,191,1) 100%);
}

.header-title-container{
  width: 10%;
  min-width : 120px;
  max-height: 40px;
  color: #fff;
  padding : 12px;
  font-size: small;
  /* border: 1px solid white; */
}

.logo-name-header{
  font-weight:900;
}

.user-box{
  width: 20%;
  max-width: 80px; 
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  padding: 5px 0;
  /* border: 1px solid #fff; */
}
.user-box i{
  margin: 5px 10px;
  cursor: pointer;
}