.headerContainer{
  display: flex;
  justify-content:space-between;
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid chartreuse; */
}

.header-title-container{
  min-width : 120px;
  max-height: 40px;
  color: #fff;
  padding : 12px;
  font-size: 1.2rem;
  margin-left : 10px;
  /* border: 1px solid #fff; */
}

.logo-name-header{
  font-weight:900;
}

.user-box{
  width: 25%;
  max-width: 90px; 
  color: #fff;
  font-size: 1.4rem;
  display: flex;
  padding: 5px 0;
  margin-right: 10px;
  /* border: 1px solid #fff; */
}
.user-box i{
  margin: 5px 10px;
  cursor: pointer;
}

.user-box i:hover{
  color: coral;
}

