
.mypageContainer {
  width: 100vw;
  height: 90vh;
  padding-top: 50px;
}

.main-center-container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid coral; */
}

.imgWrapper{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  min-width: 250px;
  margin: 25px auto;
  /* border: 1px solid aqua; */
}

.imgWrapper i {
  color: #fff;
  font-size: 5.5rem;
  text-align: center;
  margin-left : 15px;
  /* border: 1px solid coral; */
}

.myTitle{
  font-size: 1.6rem;
  color: #fff;
  /* padding-top: 15px; */
  text-align: center;
}

.mypage-btn-container{
  /* border: 1px solid rebeccapurple; */
  margin: 0 auto;
  width: 35%;
  min-width: 180px;
  display: flex;
  justify-content: space-evenly;
}
.mypage-btn-container button{
  border: none;
  border-radius: 15px;
  padding: 10px;;
  color: #fff;
  font-size: 0.2rem;
  margin: 10px ;
  cursor: pointer;
  transition: transform 1.1s;
  background: aliceblue;
  color: #252525;

}

.getWeatherBtn:hover{
  background: royalblue;
  color: #fff;
  transform:scale(1.1)
}
.getAnimationBtn:hover{
  color: #fff;
  background: crimson;
  transform:scale(1.1)
}
.stopAnimationBtn:hover{
  color: #fff;
  background: crimson;
  transform:scale(1.1)
}


@media screen and (max-width:768) {
  .imgWrapper i{
    font-size: 1.5rem;
  }
}